fastapi
uvicorn[standard]
httpx
redis
python-dotenv
pydantic
pydantic-settings
groq
sentence-transformers
prometheus-fastapi-instrumentator
structlog
PyYAML
ragas
datasets
langchain-groq
langchain-huggingface
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
asyncpg
grpcio
grpcio-tools
presidio-analyzer
presidio-anonymizer
spacy
slack-sdk
slack-bolt
aiohttp